@keyframes fadeIn {
	from {
		flex: 0;
		opacity: 0;
		translate: 150vw 0;
	}
	to {
		translate: 0 0;
		flex: 1;
		opacity: 1;
	}
}
@media (max-width: 600px) {
	.wheel-picker-wrapper-custom {
		font-size: 10px;
	}
}

.wheel-picker-wrapper-custom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}
