.appContainer {
	padding: 10px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.clamp-size {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: clamp(12px, 2vw, 16px);
	width: 100%;
}

.hanuman-title {
	font-family: 'Hanuman', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.hanuman-body {
	font-family: 'Hanuman', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
