.appContainer {
	padding: 10px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
}

.clamp-size {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: clamp(12px, 2vw, 16px);
	width: 100%;
}
